<div class="row justify-content-md-center">
  <div class="card" style="width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">Sign Up</h5>

      <p class="card-text">
        <%= form_with(model: crypto) do |f| %>
        <% if crypto.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(crypto.errors.count, "error") %> prohibited this crypto from being saved:</h2>

            <ul>
              <% crypto.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="mb-3">
          <%= f.label :symbol, class: "form-label" %><br />
          <%= f.text_field :symbol, class: "form-control" %>
        </div>

        <div class="mb-3">
          <%= f.label :user_id, class: "form-label" %><br />
          <%= f.number_field :user_id, value: current_user.id, class: "form-control" %>
        </div>

        <div class="mb-3">
          <%= f.label :cost_per, class: "form-label" %><br />
          <%= f.text_field :cost_per, class: "form-control" %>
        </div>

        <div class="mb-3">
          <%= f.label :amount_owned, class: "form-label" %><br />
          <%= f.text_field :amount_owned, class: "form-control" %>
        </div>


        <div class="actions">
          <%= f.submit "Sign up", class: "btn btn-warning" %>
        </div>
        <% end %>
      </p>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
