<h1>Cryptos</h1>

<table class="table">
  <thead class="table-dark">
    <tr>
      <th>Symbol</th>
      <th>User</th>
      <th>Cost per</th>
      <th>Amount owned</th>
      <th class="text-center">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @cryptos.each do |crypto| %>
    <tr class="table-card">
      <td class="crypto-symbol"><%= crypto.symbol.upcase %></td>
      <td><%= crypto.user_id %></td>
      <td>$ <%= crypto.cost_per %></td>
      <td>$ <%= crypto.amount_owned %></td>
      <td class="text-center">
        <%= link_to crypto do %>
        <i class="bi bi-pencil-square"></i>
        <% end %>
        <%= link_to edit_crypto_path(crypto) do %>
        <i class="bi bi-pencil-square"></i>
        <% end %>
        <%= link_to 'Destroy', crypto, method: :delete, data: { confirm: 'Are you sure?' } %>
      </td>
    </tr>
    <tr class="spacer"></tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Crypto', new_crypto_path %>
