<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <%= link_to 'Crypto Tracker', root_path, class: "navbar-brand"%>
    <!-- <a class="navbar-brand" href="#">Navbar</a> -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to 'Home', root_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'About', home_about_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Lookup', home_lookup_path, class: "nav-link" %>
        </li>
      </ul>
      <ul class="navbar-nav d-flex">
        <% if user_signed_in? %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            My Profile
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li class="mb-3">
              <%= link_to  edit_user_registration_path, class: "dropdown-item" do %>
                <i class="bi bi-gear"></i>
                <span class="ms-1">Edit Profile</span>
              <% end %>
            </li>
            <li class="mb-3"><hr class="dropdown-divider"></li>
            <li class="text-center">
              <%= link_to destroy_user_session_path, method: :delete do %>
                <button class="btn btn-warning ">Log Out</button>
              <% end %>
            </li>
            <% else %>
            <li class="nav-item">
              <%= link_to 'Sign Up', new_user_registration_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to 'Log In', new_user_session_path, class: "nav-link" %>
            </li>

          </ul>
        </li>
        <% end %>
      </ul>

    </div>
  </div>
</nav>
